/* Coming Soon WebPage template */
/*      Created by Avada        */

/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ajouté pour inclure les bordures et le padding dans la taille totale des éléments */
}

/* Different Colors */
#purple-light {
    background-color: #9158c0;
    width: 910px;
    height: 910px;
    top: -50%;
    left: 0%; /* Ajusté pour éviter le débordement horizontal */
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    filter: blur(200px);
    opacity: 0.2;
}

#blue-light {
    background-color: #4e5bcf;
    width: 910px;
    height: 910px;
    top: -50%;
    right: 0%; /* Ajusté pour éviter le débordement horizontal */
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    filter: blur(200px);
    opacity: 0.2;
}

#dark-light {
    background-color: #1d2127;
    width: 1000px;
    height: 1000px;
    bottom: 0%;
    right: 0%; /* Ajusté pour éviter le débordement horizontal */
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    filter: blur(200px);
    opacity: 1;
}

/* MA PP DISCORD */
img {
    border-radius: 50%;
    width: 186px;
    height: 186px;
}


/* Body */
body {
    background-color: #13171C;
    background-image: url("../img/Square.svg");
    background-size: cover;
    text-align: center;
    margin: 10px 0px 20px 0;

    & main {
        font-family: 'Plus Jakarta Sans', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Ajouté pour organiser les enfants en colonne */

        .red {
            color: white;
            font-size: 60px;
            margin-bottom: 15px;
        }

        & > div {
            z-index: 15;

            > p {
                color: #A8AEAE;
                text-align: center;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                max-width: 1500px;
                margin-bottom: 45px;
            }

            > h1 {
                color: white;
                font-size: 80px;
                margin-bottom: 15px;
            }

            > h2 {
                color: #A8AEAE;
                text-align: center;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                max-width: 1500px;
                margin-bottom: 45px;
            }

            > h4 {
                color: #A8AEAE;
                text-align: center;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                max-width: 1500px;
                margin-bottom: 45px;
            }

            > h5 {
                color: #A8AEAE;
                text-align: center;
                font-family: 'Plus Jakarta Sans', sans-serif;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                max-width: 1500px;
                margin-bottom: 45px;
            }

            & div {
                display: inline-flex;
                padding: 16px 28px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 32px;
                margin-right: 20px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.01) 100%);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                transition-duration: 0.3s;

                &:hover {
                    transition-duration: 0.3s;
                    scale: 1.20;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }

                & a {
                    color: #A8AEAE;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
    }
}